.item-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1rem;
}

.item-card:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.02);
}

.item-card:active {
    background-color: #b3b3b34f;
}

.item-card .button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1 1;
}